# Ignore CSV files
*.csv

# Ignore virtual environment folders (standard names)
venv/
.env/
env/
ENV/

# Ignore local configuration of VS Code
.vscode/

# Ignore Python cache (compiled files)
__pycache__/
*.py[cod]